<%= form_for( :movie,  url: movies_path) do |f| %>
 
  	<div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name, autofocus: true, autocomplete: "movie name" %>
  	</div>
<% end %>
